.js-body-position {
    float: left;
}
.md-pb-backdrop {
	background-color: rgba(0,0,0,0.6);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: none;
}
/*.popup-setting {
	width: 340px;  (width fixed)   
	display: inline-block;
}*/
.block-header {
	height: 42px; 
	background-color: #333333;
	color: #EEEEEE;
	position: relative;
	-webkit-border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
}

.md-pb-header.extend .block-header {
	/*width: 253%*/
} /* Block header will be extented when adding class "extend" in its parent*/

.block-header > .title {
	font-size: 18px;
	padding: 10px 25px;
}
.block-header .icon-pb-delete > i {
	background-position: -40px -20px;
}
.block-header .icon-pb-delete {
	right: 10px;
	background-position: -60px -30px;
}
.block-content {
	background-color: #eee;
	position: relative;
	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;
	min-width: 340px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.md-pb-header.extend .block-content:before {
	content: "";
	position: absolute;
	height: 100%;
	top: 0;
	bottom: 0;
	right: 0;
	z-index: 2;
	width: 20px;
}
.primary-content {
	float: left;
	padding: 25px 25px 10px;
	background-color: #FFF;
	min-width: 340px;


	-webkit-box-shadow: 6px  0 6px rgba(0, 0, 0, 0.1);
	-moz-box-shadow:    6px  0 6px rgba(0, 0, 0, 0.1);
	box-shadow:         6px  0 6px rgba(0, 0, 0, 0.1);
}

.block-content-extend {
	float: left;
	width: 390px;
	padding: 25px;
}
.block-content-extend.extend-html textarea {
    height: 300px;
}

/* ===============================================================
						Typography Style
================================================================== */

h2,h3,h4, .md-pb-title, .md-pb-addnew, .pb-button {
	font-family: 'Cabin', sans-serif;
	font-weight: 600;
	line-height: 120%;
}
p, label, .form-label, .select-icon, input, textarea,
.box-icon-chose span {
	font-family: 'ABeeZee', sans-serif;
	font-size: 14px;
	line-height: 18px;
	font-weight: 400;
}

/*========== Icon Style ==========*/

[class^="icon-pb-"],
[class*="icon-pb-"]{
	background-image: url('../images/toolbar-pricing.png');
	background-repeat: no-repeat;
	width: 30px;
	height: 30px;
	display: inline-block;
	top: 4px;
	position: absolute;
	cursor: pointer;
}
.sortable-header [class^="icon-pb-"],
.sortable-header [class*="icon-pb-"] {
	background-image: url('../images/sprite-sortable.png');
	background-repeat: no-repeat;
	top: 1px;
}
.sortable-header .icon-pb-duplicate {
	background-position: 0 0;
	right: 34px;
}
.sortable-header .icon-pb-duplicate:hover {
	background-position: 0 -30px;
}
.sortable-header .icon-pb-delete {
	background-position: -30px 0;
	right: 2px;
}
.sortable-header .icon-pb-delete:hover {
	background-position: -30px -30px;
}

.icon-pb-setting {
	left: 0;
}
.icon-pb-duplicate {
	right: 30px;
}
.icon-pb-delete {
	right: 0
}
.icon-pb-setting {
	background-position: 0 0;
}
.icon-pb-duplicate {
	background-position: -30px 0;
}

.icon-pb-delete {
	background-position: -60px 0;
}

/* Hover */
.icon-pb-setting:hover {
	background-position: 0 -30px;
}
.icon-pb-duplicate:hover {
	background-position: -30px -30px;
}
.icon-pb-delete:hover {
	background-position: -60px -30px
}
/* Active */
.icon-pb-setting.active {
	background-position: 0 -60px;
}
.icon-pb-duplicate.active {
	background-position: -30px -60px;
}
.icon-pb-delete.active {
	background-position: -60px -60px;
}
.icon-ta-left,
.icon-ta-right,
.icon-ta-justify,
.iconpb-select,
.media-image,
.media-video,
.media-map,
.icon-custom-code,
.icon-plus {
	background-image: url("../images/sprite.png");
	background-repeat: no-repeat;
	width: 22px; 
	height: 22px;
	display: inline-block;
}
.icon-ta-left {
	background-position: 0 -93px;
}
.icon-ta-left:hover,
.icon-ta-left.active{
	background-position: -66px -93px;
}
.icon-ta-justify {
	background-position: -22px -93px;
}
.icon-ta-justify:hover,
.icon-ta-justify.active{
	background-position: -88px -93px;
}
.icon-ta-right {
	background-position: -44px -93px;
}
.icon-ta-right:hover,
.icon-ta-right.active{
	background-position: -110px -93px;
}
.iconpb-select {
	background-position: 0 -71px
}
.select-icon:hover .iconpb-select{
	background-position: -88px -71px
}
.icon-custom-code {
	background-position: -22px -71px;
}
.icon-custom-code:hover {
	background-position: -112px -71px;
}
.icon-plus {
	background-position: -44px -71px;
	vertical-align: top;
	margin-right: 2px;
}
.border > .icon-plus {
	background-position: -66px -71px;
}

/* Demo Icon */
.icon-sortheader {
	position: absolute;
	top: 10px;
	left: 12px;
	width: 20px;
	height: 20px;
}
.demo1 {
	background: url('../images/demo1.png') no-repeat 0 0;
}
.demo2 {
	background: url('../images/demo2.png') no-repeat 0 0;
}
.demo3 {
	background: url('../images/demo3.png') no-repeat 0 0;
}


/* Animation CSS3
================================================================== */

@-webkit-keyframes md-popup {
	0% {
		opacity: 0;
		-webkit-transform: scale(0.8);
		-moz-transform: scale(0.8);
		-ms-transform: scale(0.8);
		-o-transform: scale(0.8);
		transform: scale(0.8);
	}
	100% {
		opacity: 1;
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-ms-transform: scale(1);
		-o-transform: scale(1);
		transform: scale(1);
	}
}
@-moz-keyframes md-popup {
	0% {
		opacity: 0;
		-webkit-transform: scale(0.8);
		-moz-transform: scale(0.8);
		-ms-transform: scale(0.8);
		-o-transform: scale(0.8);
		transform: scale(0.8);
	}
	100% {
		opacity: 1;
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-ms-transform: scale(1);
		-o-transform: scale(1);
		transform: scale(1);
	}
}
@-ms-keyframes md-popup {
	0% {
		opacity: 0;
		-webkit-transform: scale(0.8);
		-moz-transform: scale(0.8);
		-ms-transform: scale(0.8);
		-o-transform: scale(0.8);
		transform: scale(0.8);
	}
	100% {
		opacity: 1;
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-ms-transform: scale(1);
		-o-transform: scale(1);
		transform: scale(1);
		
	}
}
@-o-keyframes md-popup {
	0% {
		opacity: 0;
		-webkit-transform: scale(0.8);
		-moz-transform: scale(0.8);
		-ms-transform: scale(0.8);
		-o-transform: scale(0.8);
		transform: scale(0.8);
	}
	100% {
		opacity: 1;
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-ms-transform: scale(1);
		-o-transform: scale(1);
		transform: scale(1);
	}
}
@keyframes md-popup {
	0% {
		opacity: 0;
		-webkit-transform: scale(0.8);
		-moz-transform: scale(0.8);
		-ms-transform: scale(0.8);
		-o-transform: scale(0.8);
		transform: scale(0.8);
	}
	100% {
		opacity: 1;
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-ms-transform: scale(1);
		-o-transform: scale(1);
		transform: scale(1);
	}
}
/*.popup-setting,
.block-sortable,*/
.md-pb-item,
.popup-setting {
	-webkit-animation: .8s cubic-bezier(0.680, -0.550, 0.265, 2) 0s  1 md-popup;
	-moz-animation: .8s cubic-bezier(0.680, -0.550, 0.265, 2) 0s  1 md-popup;
	-o-animation: .8s cubic-bezier(0.680, -0.550, 0.265, 2) 0s 1 md-popup;
	animation: .8s cubic-bezier(0.680, -0.550, 0.265, 2) 0s 1 md-popup;
}
/*.md-pb-item {
	-webkit-transition: all .5s ease 0s;
	-moz-transition: all .5s ease 0s;
	-ms-transition: all .5s ease 0s;
	-o-transition: all .5s ease 0s;
	transition: all .5s ease 0s;
}*/

.md-pb-price, 
.md-pb-header,
.md-pb-body,
.md-pb-footer,
.md-pb-setting {
	display: inline-block;
}


/* Table Item style
======================================================================== */

.md-pb-item {
	float: left;
	color: #888888;
	width: 250px;
	margin-right: 30px;
	cursor: move;
	margin-top: 10px;
}
.md-pb-block {
	display: table;
	height: 83px;
	background-color: #333333;
	margin-bottom: 10px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	width: 100%;
	cursor: pointer;
}
.md-pb-title {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	font-size: 16px;
	font-weight: 600;
	text-transform: uppercase;

	-webkit-transition: color .3s ease 0s;
	-moz-transition: color .3s ease 0s;
	-ms-transition: color .3s ease 0s;
	-o-transition: color .3s ease 0s;
	transition: color .3s ease 0s;
	
}
.md-pb-block:hover .md-pb-title {
	color: #FFF;
}
.md-pb-block.active .md-pb-title {
	color: #FF4940;
}
.md-pb-toolbar {
	height: 40px;
	background-color: #111111;
	width: 100%;
	border-bottom: 1px solid #333333;
	-webkit-border-radius: 2px 2px 0 0;
	-moz-border-radius: 2px 2px 0 0;
	border-radius: 2px 2px 0 0;
	position: relative;
}
.md-pb-toolbar > .label-pb {
	font-size: 18px;
	color: #666666;
	font-family: 'ABeeZee', sans-serif;
	font-size: 18px;
	padding: 9px 30px;
	font-weight: 400;
    margin: 0;

}
.md-pb-content {
	padding: 15px 10px 10px;
	background-color: #262626;
}
.md-pb-items .md-pb-item-placeholder {
	height: 433px;
	width: 250px;
	
	border: 1px dashed #aaa;
	float: left;
	margin-right: 30px;
	margin-top: 10px;
}

/* Form Element style
======================================================================== */

#md-pricing-table-wrapper input,
#md-pricing-table-wrapper input:focus,
#md-pricing-table-wrapper select,
#md-pricing-table-wrapper select:focus,
#md-pricing-table-wrapper textarea:focus,
.popup-setting input,
.popup-setting input:focus,
.popup-setting select,
.popup-setting select:focus,
.popup-setting  textarea:focus {
	box-shadow: none;
	outline: none;
	border-color: #EE5A32;

	-webkit-transition: border-color .3s ease 0s;
	-moz-transition: border-color .3s ease 0s;
	-ms-transition: border-color .3s ease 0s;
	-o-transition: border-color .3s ease 0s;
	transition: border-color .3s ease 0s;
}
#md-pricing-table-wrapper input,
.popup-setting input {
	background-color: #FFF;
	border: 1px solid #BFBFBF;
	height: 32px;
	line-height: 32px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding: 0px 10px;
	color: #666666;
}
#md-pricing-table-wrapper input[type="text"],
.popup-setting input[type="text"] {
	width: 94%;
}
#md-pricing-table-wrapper label,
.popup-setting label {color: #666;} 
.form-element {
	max-width: 100%;
	width: 100%;
	margin-bottom: 15px;
	padding-top: 5px;
}
.form-element.big {
	width: 290px;
	max-width: 290px;
}
.form-element.medium {
	width: 160px;
	max-width: 160px;
}
.form-element.small {
	width: 80px;
	max-width: 80px;
	position: relative;
}
.form-element.small:after {
	color: #666;
    content: "px";
    font-size: 16px;
    position: absolute;
    right: -42px;
    top: 11px;
}
.pricing-element {
	padding: 50px;
}
.form-inline .form-element,
.form-inline .form-select {
	display: inline-block;
	margin-right: 10px;
}
textarea {
	height: 90px;
	background-color: #FFF;
	border: 1px solid #BFBFBF;
	width: 100%;
	max-width: 94%;
	padding: 10px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	color: #666666;
}
.form-label {
	font-size: 14px;
	font-weight: 400;
	color: #666;
	margin-bottom: 10px;
	display: inline-block;
}
.form-element.form-upload {
	position: relative;
	margin-bottom: 18px;
}
#md-pricing-table-wrapper .form-upload input {
	padding-right: 28%;
}
.form-upload input {padding-right: 20%;}
.no-pt {padding-top: 0;}
.form-inline .form-label {
	margin-right: 13px;
}

/*========== Select Style ==========*/

.select {
	width: 100%;
	height: 30px;
	cursor: pointer;
	background-color: #FFF;
	border: 0 none;
	color: #666;
	margin: 0;
	padding: 6px;
	/*text-indent: 0.01px;
	text-overflow: "";*/
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
select.select, 
select.select:focus {
	box-shadow: none;
	outline: none;
	border-color: #EE5A32;
}
.select > option {
	padding: 10px;
}
.form-select {
	margin-bottom: 15px;
	min-width: 288px;
	border: 1px solid #BFBFBF;
	position: relative;
	width: 100%;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.form-select:before {
	content: "";
	position: absolute;
	right: -1px;
	top: -1px;
	bottom: -1px;
	width: 30px;
	background: #333333 url('../images/down.png') no-repeat 8px 12px;
	pointer-events: none;
	-webkit-border-radius: 0 4px 4px 0;
	-moz-border-radius: 0 4px 4px 0;
	border-radius: 0 4px 4px 0;
}
.form-select:focus {
	border-color: #DF3F47;
	background-color: #FFF;
}
.form-select.small {
	width: 120px;
	min-width: 120px;
}
.block-content-extend .form-select {
	max-width: 288px;
}


/*========== Button Style ==========*/

.form-button {margin-top: 20px;}
.pb-button {
	background-color: #EF5A34;
	color: #FFF;
	font-size: 14px;
	padding: 5px 14px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	/*height: 18px;*/
	line-height: 18px;
	display: inline-block;
	margin-right: 5px
}
.pb-button:hover {
    text-decoration: none;
}
.pb-button-dark {
	background-color: #ccc;
	color: #666;
}
.btn-right .pb-button-dark {
	float: left;
}
.btn-left {
	text-align: left;
}
.btn-right {
	text-align: right
}
.btn-right .pb-button {margin-right: 0;}
.form-upload .pb-button {
	border-radius: 0 4px 4px 0;
	bottom: 0;
	height: auto;
	margin-right: 0;
	position: absolute;
	right: 0;
	top: 5px;
	line-height: 20px;
}

.md-pb-addnew {
	color: #FFF;
	background-color: #EF5A34;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	width: 100%;
	max-width: 250px;
	margin-bottom: 10px;
	padding: 12px 0;
	cursor: pointer;
	text-align: center;
	font-size: 16px;
	margin-top: 30px;
}
a.md-pb-addnew {
	display: inline-block;
}
button.md-pb-addnew {
	border: 0;
}
.md-pb-addnew.border {
	background: none;
	border: 1px solid #EE5A32;
	color: #EE5A32;
}

/*========== Checkbox Style ==========*/

.form-checkbox {padding: 10px 0 5px;}
.input-checkbox {
	display: none;
}
.input-checkbox[type="checkbox"] + .label-checkbox {
	background: url("../images/checkbox.png") no-repeat 0 0;
	height: 19px;
	line-height: 19px;
}
.input-checkbox[type="checkbox"] + .label-checkbox{
	cursor: pointer;
	display: inline-block;
	font-size: 14px;
	padding-left: 25px;
	color:  #666;
}
.input-checkbox[type="checkbox"]:checked + .label-checkbox {
	background: url("../images/checkbox.png") no-repeat  0 -19px rgba(0, 0, 0, 0);
}

/* Header Pricing Style
======================================================================== */

.media-image,
.media-video,
.media-map {
	margin-top: 14%;
}
.media-image {
	width: 56px;
	height: 35px;
	background-position: 0 0;
}
.media-video {
	width: 56px;
	height: 35px;
	background-position: -56px 0;
}
.media-map {
	width: 36px;
	height: 35px;
	background-position: -112px 0;
}
.active > .media-image {
	background-position: 0 -35px;
}
.active > .media-video {
	background-position: -56px -35px;
}
.active > .media-map {
	background-position: -112px -35px;
}
.header-media {
	padding-bottom: 20px;
	border-bottom: 1px solid #ccc;
}
.header-media ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.header-media ul {
    margin: 0;
}
.pricing-style ul {
    margin: 0;
}
.header-media ul li,
.pricing-style ul li {
    list-style: none;
	float: left;
	background-color: #EEEEEE;
	text-align: center;
	height: 60px;
	width: 90px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin-right: 10px;
	cursor: pointer;
}
.pricing-style ul li {
    width: 110px;
}
.header-media ul li:last-child,
.pricing-style ul li:last-child {
	margin-right: 0;
}
/* The class "active" will be added into li tags when user select one of them */
.header-media ul li.active,
.pricing-style ul li.active {
	background-color: #EF5A34;
}
.extend-image .form-label {
	display: block;
}
.img-preview {
	display: inline-block;
	position: relative;
	cursor: pointer;
}
.img-preview:hover .preview-del {
	opacity: 1;
}
.preview-del {
	background: url("../images/delete.png") no-repeat scroll center center #333333;
	opacity: 0;
	width: 25px;
	height: 25px;
	text-align: center;
	color: #FFF;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 99;
	text-indent: -9999px;
	cursor: pointer;

	-webkit-transition: all .4s ease 0s;
	-moz-transition: all .4s ease 0s;
	-ms-transition: all .4s ease 0s;
	-o-transition: all .4s ease 0s;
	transition: all .4s ease 0s;
	
}
.market-preview {
    position: relative;
    display: inline-block;
}
.market-preview:hover .preview-del {
    opacity: 1;
}
.market-preview img {
	width: 97%;
	height: auto;
	background: url('../images/preview.png');
}
.market-preview .pb-button {
	float: right;
}
.md-pb-header {
	position: relative;
}
/*.md-pb-header:after {
	position: absolute;
	content:"";
	width: 100%;
	height: 1000px;
	top: 100%;
}
*/
.export-html {
	color: #CCCCCC;
	margin-top: 22px;
	display: inline-block;
}
.active .export-html {
	color: #FFF;
}
/* Price Style
======================================================================== */

.form-element.medium {margin-right: 3px;}
.form-select.small {margin-right: 0;}
.form-inline .medium {
	width: 156px;
	margin-right: 21px;
}
.pricing-style {
	margin-bottom: 20px;
}
.active .plan-price {
	color: #FFF;
}
.plan-price {
	color: #666;
	font-size: 22px;
	padding-top: 18px;
    margin: 0;
}
.md-pb-price .form-inline .medium:last-child {
	margin-right: 0;
}
.plan-price.style-op1 {
	padding-top: 12px;
}
.plan-price .plan-currency,
.plan-price .plan-duration,
.plan-price .plan-decima {
	font-size: 12px;
}
.style-op1 .plan-currency,
.style-op2 .plan-currency{
	vertical-align: 6px;
}
.style-op1 .plan-duration {
	display: block;
}
.style-op3 .plan-currency {
	vertical-align: 1px;
}
.style-op3 .plan-duration,
.style-op3 .plan-decima {
	vertical-align: 7px;
}



/* Body Pricing Style
======================================================================== */

.block-sortable {
	margin-bottom: 10px;
	min-width: 290px;
	position: relative;
}
.sortable-header {
	background-color: #333;
	height: 32px;
	-webkit-border-radius: 2px 2px 0 0;
	-moz-border-radius: 2px 2px 0 0;
	border-radius: 2px 2px 0 0;
	position: relative;
    margin: 0;
}
.sortable-header .chose {
    position: absolute;
    top: 7px;
    left: 7px;
    color: #999;
}
.sortable-header .chose:before {
    margin-left: 0.2em;
}
.sortable-content {
	background-color: #ccc;
	-webkit-border-radius: 0 0 2px 2px;
	-moz-border-radius: 0 0 2px 2px;
	border-radius: 0 0 2px 2px;
	padding: 10px;
}
.sortable-content textarea {
	background-color: #eee;
	border: 1px solid #999;
	height: 70px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
.sortable-tools .md-box-icon {
	float: right;
	position: relative;
}
.sortable-tools .select-icon {
	font-size: 13px;
}
.sortable-tools .text-align {
	display: inline-block;	
}
.text-align > i {cursor: pointer;}

.select-icon .iconpb-select {
	vertical-align: middle;
	margin-left: 10px;
	cursor: pointer;
}
.select-icon:hover .iconpb-select {
	background-position: -88px -71px;
}
.sortable-content .icon-custom-code {
	cursor: pointer;
	margin-left: 5px;
}
.select-icon {color: #333;}
.select-icon:hover {color: #666666;}
.block-sortable-placeholder {
	background-color: #ddd;
	border: 1px dashed #999;
	width: 100%;
	height: 32px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	margin-bottom: 10px;
}
.popup-setting .md-pb-addnew{
	max-width: none;
}

/* Popup Icon Box */
.popup-icon-lib {
	background-color: #EEEEEE;
	position: absolute;
	top: 32px;
	width: 290px;
	height: 300px;	
	left: 57px;
	padding: 15px;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	
	-webkit-box-shadow: 0 0 5px 7px rgba(0, 0, 0, 0.7);
	-moz-box-shadow: 0 0 5px 7px rgba(0, 0, 0, 0.7);
	box-shadow: 0 0 5px 7px rgba(0, 0, 0, 0.7);
    z-index: 999;
}
.popup-icon-lib:after {
	position: absolute;
	content: "";
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid #EEEEEE;
	bottom: 100%;
	left: 20px;
}
.md-box-icon [class^=icon-] {
	font-size: 22px;
	color: #000;
	margin: 5px;
	display: inline-block;
	float: left;
	cursor: pointer;
}
.md-box-icon .box-list i.chose {
	color: #EE5A32;
}
.box-list {
	height: 240px;
	overflow: auto;
	margin-top: 20px;
}
.box-list i {
    font-size: 25px;
    display: inline-block;
    margin: 10px 9px !important;
    width: 23px !important;
    height: 23px !important;
    cursor: pointer;
}
.box-list i:hover {
    color: #EE5A32;
}
.box-icon-chose {
	border: 1px solid #BBB;
	overflow: hidden;
    position: relative;
}
.box-icon-chose i {
    position: absolute;
    top: 2px;
    left: 2px;
    font-size: 20px !important;
    width: 23px !important;
    height: 23px !important;
    color: #EE5A32;
    margin: 5px !important;
    line-height: 1 !important;
}
.box-icon-chose i:before {
    margin-left: 0 !important;
}
.box-icon-chose i[class^="icon-"] {
	color: #EE5A32;
}
.box-icon-chose span {
	color: #333;
	font-size: 12;
	float: right;
	display: inline-block;
	padding: 7px ;
}
/* Jquery UI ScrollBar */
.scroll-pane .ui-slider { position: relative; text-align: left; }
.scroll-pane .ui-slider .ui-slider-handle { position: absolute; z-index: 2; cursor: default; }

.scroll-pane-vertical { height: 100%; width: 100%; }
.scroll-content-vertical { overflow: hidden; width: 100%; height: auto; float: left; }
.scroll-bar-wrap-vertical { padding: 0; margin: 0; width: 10px; height: 99%; float: right; }
.scroll-bar-wrap-vertical .ui-slider { background: none; border:0; height: 100%; width: 10px; margin: 0;  }
.scroll-bar-wrap-vertical .ui-handle-helper-parent { position: relative; width: 10px; height: 100%; margin: 0 auto; }
.scroll-bar-wrap-vertical .ui-slider-handle { left:0em; width: 8px; margin-left: 0em; margin-bottom: -2px; }
.scroll-bar-wrap-vertical .ui-slider-handle .ui-icon { margin:  0; position: relative; left: 50%; }

.scroll-pane-horizontal { overflow: none; width: 250px; }
.scroll-content-horizontal { width: 1220px; float: left; }
.scroll-bar-wrap-horizontal { clear: left; padding: 0 4px 0 2px; margin: 0 -1px -1px -1px; }
.scroll-bar-wrap-horizontal .ui-slider { background: none; border:0; height: 2em; margin: 0 auto;  }
.scroll-bar-wrap-horizontal .ui-handle-helper-parent { position: relative; width: 100%; height: 100%; margin: 0 auto; }
.scroll-bar-wrap-horizontal .ui-slider-handle { top:.2em; height: 1.5em; }
.scroll-bar-wrap-horizontal .ui-slider-handle .ui-icon { margin: -8px auto 0; position: relative; top: 50%; }


/* Scroll Bar */
.scroll-pane .ui-state-default,
.scroll-pane .ui-widget-content .ui-state-default,
.scroll-pane .ui-widget-header .ui-state-default {
    border: none;
    background: #AAAAAA;
}
.scroll-pane .ui-state-hover,
.scroll-pane .ui-widget-content .ui-state-hover,
.scroll-pane .ui-widget-header .ui-state-hover,
.scroll-pane .ui-state-focus,
.scroll-pane .ui-widget-content .ui-state-focus,
.scroll-pane .ui-widget-header .ui-state-focus {
    border: none;
    background: #fff none;
    cursor:  pointer;
}
.scroll-pane .ui-state-active,
.scroll-pane .ui-widget-content .ui-state-active,
.scroll-pane .ui-widget-header .ui-state-active {
    border: none;
    background: #fff none;
}

.scroll-bar-wrap-vertical {
    background: #CCCCCC;
   	width: 5px;
}
.scroll-bar-wrap-vertical .ui-slider-handle { width: 10px; background: #fff; margin-bottom: 0px; }




/* Jquery UI Slider range Style 
======================================================================== */

#md-pricing-table-wrapper .md-slider-range {
	max-width: 370px;
	width: 100%;
}
.md-slider-range #slider-range-min  {
	background-color: #909090;
	height: 2px;
	width: 100%;
	max-width: 270px;
	display: inline-block;
	vertical-align: bottom;
}
.md-slider-range .ui-slider-range {
	background-color: #EF5A34;
}
.md-slider-range #slider-range-min  .ui-slider-handle {
	background-color: #F4F4F4;
	width: 12px; 
	height: 12px;
	cursor: pointer;
	
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	
	-webkit-box-shadow: 0 0 0 2px #BFBFBF;
	-moz-box-shadow: 0 0 0 2px #BFBFBF;
	box-shadow: 0 0 0 2px #BFBFBF;
}
.md-slider-range #amount[type="text"] {
	float: right;
	width: 80px;
}

/* Spectrum Color 
======================================================================== */


.md-spectrum-color  {
	margin: 20px 0;
}
.md-spectrum-color .form-label {
	margin-right: 20px;
}





/* Global Style
======================================================================== */
* html .clearfix,
* html .ui-helper-clearfix {
	height: 1%; /* IE5-6 */
}

.clearfix,
.ui-helper-clearfix {
	display: inline-block; /* IE7xhtml*/
}

html .clearfix,
html .ui-helper-clearfix {
	display: block; /* O */
}

.clearfix:after,
.ui-helper-clearfix:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
	line-height: 0;
	font-size: 1px;
	overflow: hidden;
}
.clear {clear: both;}


/* Add CSS Style
======================================================================== */

#js-hidden, .js-hidden{
	display: none;
    margin: 10px 0;
}
.no-close .ui-dialog-titlebar-close {
  display: none;

}

.js-sortable-toggle {
	position: absolute;
	top: 50%;
	right: 0;
	margin-top: -8px;
}
button.js-bt-body, .js-bt-setting, .js-bt-header,.js-bt-price, .js-bt-footer{
	background: none;
	border: none;
	color: #eee;
	position: absolute;
	top: 20px;
	right: 25px;
	font-size: 18px;
}
.md-pb-backdrop.js-backdrop {display: block;}
.js-header-bt-color {
	background-color: blue;
		opacity: 0.6;
	color: whitesmoke;
}
#js-change-icon {
   background: none;
   border: none;
   color: #666;
   right: 20px;
   position: absolute;
}

/*.js-bt-position{
	position: absolute;
	bottom :25px;
}*/
.js-header-label-pb{
	font-size: 18px;
    margin: 0;
    line-height: 21px;
}
.js-body-accordion{
	position: absolute;
	z-index: 9;
	left: 14%;
	height: 32px;
	right: 23%;
	top: 0;
	cursor: pointer;
}
.js-add-content{
	color: #ffffff;
	font-size: 14px;
	font-weight: 200;
	padding-left: 40px;
	padding-right: 65px;
	line-height: 32px;
    margin: 0;
}
.ui-accordion .ui-accordion-header{
	border: none;
}
.js-body-change-icon:focus{
	border: none;
	outline: none;
	background: none;
}
.js-body-change-icon{
	background: none !important;
	border: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
 .ui-dialog {
 	overflow: initial !important;
     /*text-align: center;*/
 }

.media-item {
    margin: 0;
    padding: 7px;
    width: 130px !important;
}
.media-thumbnail {
    padding: 0;
    height: 117px;
    overflow: hidden;
    margin: 0 auto;
}
.media-item img {
    margin: 0;
    padding: 0;
    display: block;
    border:0;
    width: 100%;
    transition: all .5s;
}
.media-item:hover img {
    /*border: 2px solid #EF5A34;*/
}
.market-preview-big {
    overflow: auto;
}
.market-preview {
    float: left;
    margin-right: 20px;
}
.market-preview .media-item {
    width: 70px !important;
}
.market-preview .media-thumbnail {
    height: 70px;
}

.extend-map .pb-button {
    float: left;
    margin: 23px 0;
}
.extend-map img {
    width: 100% !important;
}

.sortable-content.ui-accordion-content{
    padding: 10px;
}

.js-header-custom textarea {
    height: 130px !important;
}

.sp-replacer {
    border-radius: 3px;
}
/* Style Ribbon  
========================================================= */
.mdp-ribbon {
    width: 100%;
    height: 107px;
    position: static;
    text-align: center;


}
.ribbon-pos-hidden {
    overflow: hidden;
    top: 0;
    left: 0;
    position: relative;
}
.ribbon-pos-none-hidden-top {
    top: 0;
    left: 0;
    height: auto;
}
.ribbon-pos-none-hidden-top-left {
    top: 0px;
    left: 0;
    height: auto;
}
.ribbon-pos-none-hidden-bottom {
    bottom: 0px;
    left: 0;
    height: auto;
}
.ribbon-pos-visible-top {
    top: 0;
    left: 0;
    overflow: visible;
    position: relative;
}

.ribbon {
    background-color: #EE5B30;
    margin: 0;
    padding: 10px 0;
    font-size: 14px;
    overflow: hidden;
    white-space: nowrap;
    color: #fff;
    z-index: 99;
    position: absolute;
    text-shadow: none;
}
.top-left {
    left: -106px;
    top: 12px;
    padding: 18px 153px;
    /*
    width: 100px;
    height: 12px;
    */
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.top-right {
    right: -106px;
    top: 12px;
    padding: 18px 153px;
    /*
    padding: 10px 102px;
    width: 100px;
    height: 12px;
    */
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.top-left .ribbon-inner {
    height: 20px;
    left: 89px;
    margin: 0;
    padding: 0;
    position: absolute;
    text-align: center;
    top: 6px;
    vertical-align: text-top;
    width: 100px;
    line-height: 24px;
    word-wrap: break-word;
}
.top-left .ribbon-inner > span {
    display: table;
    width: 100%;
    height: 100%;
    vertical-align: middle;
}
.top-left .ribbon-inner > span > span {
    display: table-cell;
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

/**/
.top-right .ribbon-inner {
    height: 20px;
    right: 89px;
    margin: 0;
    padding: 0;
    position: absolute;
    text-align: center;
    top: 6px;
    vertical-align: text-top;
    width: 100px;
    line-height: 24px;
    word-wrap: break-word;
}
.top-right .ribbon-inner > span {
    display: table;
    width: 100%;
    height: 100%;
    vertical-align: middle;
}
.top-right .ribbon-inner > span > span {
    display: table-cell;
    width: 100%;
    height: 100%;
    vertical-align: middle;
}


.top-ribbon {
    width: 100%;
    left: 0px;
    top: 0px;

}
.bottom-ribbon {
    width: 100%;
    	left: 0px;
        bottom: 0px;
}
.flag-left {
    display: inline-block;
    left: -15px; top: 50px;
    padding: 10px 15px;
}
.flag-right {
    display: inline-block;
    right: -15px; top: 50px;
    padding: 10px 15px;
}
.burgee-left {
    display: inline-block;
    left: -15px; top: 50px;
    padding: 10px 15px;
    overflow: visible;
    line-height: 22px;
}
.burgee-left:before {
    border-color: #EE5B30 rgba(0, 0, 0, 0);
    border-style: solid;
    border-width: 21px;
    content: "";
    display: block;
    height: 0;
    right: -21px;
    position: absolute;
    top: 0;
    width: 0;
}
.burgee-right {
    display: inline-block;
    right: -15px; top: 50px;
    overflow: visible;
    padding: 10px 15px;
    line-height: 22px;
}
.burgee-right:before {
    border-color: #EE5B30 rgba(0, 0, 0, 0);
    border-style: solid;
    border-width: 21px;
    content: "";
    display: block;
    height: 0;
    left: -21px;
    position: absolute;
    top: 0;
    width: 0;
}

.js-setting-add-class {
	margin-bottom: 15px;
}
.input-label {
	padding: 0 0 15px 0;
}
.input-label .label-checkbox {
	display: inline-block;
	margin-left: 7px;
	margin-top: 3px;
}
/*preivew PricingTable*/
.preview_pricing_table{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #FFF;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
    display: none;
}